待办事项
 </div>
             <div class="post subContent">
                <form action="/application/manage/<%=domain%>/todo/new" method="post" id="post_new">
                    <p><input type="text" id="titleContent" name="title" class="longInput" />
                </form>
            </div>
            <div class="todos">
                <ul>
                    <% for(var i = 0, len = todos.length; i < len; i++) {
                        var todo = todos[i];
                        var status = todo.finished == 1 ? 'class="finished"' : '';
                    %>
                        <li <%- status %>>
                            
                            <% if(todo.finished == 0) { %>
                                <%=todo.nickName%>&nbsp;:<%= todo.title %>
                                <span class = "todoAction"><a href="javascript:void(0)" id="<%=todo.email%>#<%=todo.title%>" class="doFinish">完成</a>,
                            <% } else { %>
                                <img src="/images/ok.gif"></img>
                                <%=todo.nickName%>&nbsp;:<del><%= todo.title %></del>
                                <span class = "todoAction"><a href="javascript:void(0)" id="<%=todo.email%>#<%=todo.title%>" class="doRecover">恢复</a>,
                            <% } %>
                            <a href="javascript:void(0)" 
                                class="doDelete">删除</a></span>
                        </li>
                    <% } %>
                </ul>
            </div>
            <script type="text/javascript" src="/scripts/todo.js?v=1.0.2"></script>
