 		<div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=domain%></span><img src="/images/arrow.gif"></img>管理记录
    	</div>
    	<div id="records">
    		<table>
    		<tr>
    		<th>用户</th><th>操作</th><th>时间</th>
    		</tr>
    		<% for(var i=0,len=records.length; i!=len; ++i){
    			var record = records[i];
    		%>
    		<tr id="<%=record.email%>Tr">
    		<td><%=record.email%></td>
    		<td><%=record.action%></td>
    		<td><%=record.recordTime%></td>
    		</tr>
    		<%}%>
    		</table>
    	</div>
    	<div class="pagination">
		  <ul>
		    <li class="pr	ev"><a href="#">&larr; 前一页</a></li>
		    <% var tooMany = false;
		    for(var i=1; i<=pages; ++i){
		    	if(i<=3||i>=pages-3||Math.abs(page-i)<=2){%>
		    <li ><a href="<%=url%>/mnglog?page=<%=i%>"><%=i%></a></li>
		    	<%}else if(tooMany===false){
		    	tooMany = true;%>
		    <li class="disabled"><a href="javascript:void(0)">…</a></li>
		    <%}}%>
		    <li class="next"><a href="#">后一页 &rarr;</a></li>
  		  </ul>
  		  </div>
    <script type="text/javascript" src="/scripts/recordManage.js"></script>    
    