   <div id="navigation">
    	<ul>
    	<li><a href="/application">我的应用</a></li>
    	<li><a href="/userCenter">个人中心</a></li>
      	<li><a href="/feedback">反馈信息</a></li>
    	<li><a href="/logout">退出</a></li>
    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
    	</ul>
    </div>
    <div id="appManage" class="clearfix">
    	<div class="left borderRadius5">
    		<ul id="sidebar">
    		<li><h3>应用信息</h3></li>
    		<li><a href="<%=url%>/sum">汇总信息</a></li>
    		<li><h3>应用管理</h3></li>
    		<li><a href="<%=url%>/appmng">应用设置</a></li>
    		<li><a href="<%=url%>/coopmng">成员管理</a></li>
    		<li><a href="<%=url%>/vermng">代码管理</a></li>
    		<li><a href="<%=url%>/mnglog">管理记录</a></li>
    		<li><h3>应用调优</h3></li>
    		<li><a href="<%=url%>/applog">日志中心</a></li>
    		</ul>
    	</div>
    	<div class="right borderRadius5">
 		<div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=domain%></span><img src="/images/arrow.gif"></img>管理记录
    	</div>
    	<div id="records">
    		<table>
    		<tr>
    		<th>用户</th><th>操作</th><th>时间</th>
    		</tr>
    		<% for(var i=0,len=records.length; i!=len; ++i){
    			var record = records[i];
    		%>
    		<tr id="<%=record.email%>Tr">
    		<td><%=record.email%></td>
    		<td><%=record.action%></td>
    		<td><%=record.recordTime%></td>
    		</tr>
    		<%}%>
    		</table>
    	</div>
    	<div class="pagination">
		  <ul>
		    <li class="prev"><a href="#">&larr; 前一页</a></li>
		    <% var tooMany = false;
		    for(var i=1; i<=pages; ++i){
		    	if(i<=3||i>=pages-3||Math.abs(page-i)<=2){%>
		    <li ><a href="<%=url%>/mnglog?page=<%=i%>"><%=i%></a></li>
		    	<%}else if(tooMany===false){
		    	tooMany = true;%>
		    <li class="disabled"><a href="javascript:void(0)">…</a></li>
		    <%}}%>
		    <li class="next"><a href="#">后一页 &rarr;</a></li>
  		  </ul>
		</div>
    </div>
    <script type="text/javascript" src="/scripts/recordManage.js"></script>    
    