
 		<div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=own.appDomain%></span><img src="/images/arrow.gif"></img>成员管理
    	</div>
    	<div>
    		<table id="allCoops">
    		<tr>
    		<th>CNAE帐号</th><th>状态</th><th>操作</th><th>权限</th>
    		</tr>
    		<% for(var i=0, len=mems.length; i!=len; ++i){
    			var mem = mems[i];
    		%>
    		<tr id="<%=mem.email%>Tr">
    		<td><%=mem.email%></td>
    		<td>
    		<% 
    		var state="";
    		switch(mem.active){
    			case 0: state = "inactive";break;
    			case 1: state = "active"; break;
    			case 2: state = "applying";break;
    		} %>
    		<%= state%>
    		</td>
    		<td>
    		<%if(mem.active<2){%>
	    		<%if(mem.role==0){%>
	    		无法删除应用创建者
	    		<%}else if(own.role===0){%>
	    		<a href="javascript:void(0);" id="<%=mem.email%>#<%=mem.appDomain%>#delete">删除此参与者</a>
	    		<%}else{%>
	    		没有权限进行操作
	    		<%}%>
    		<%}else{%>
    			<a href="javascript:void(0);" id="<%=mem.email%>#<%=mem.appDomain%>#agree">同意</a>
    			 | 
    			<a href="javascript:void(0);" id="<%=mem.email%>#<%=mem.appDomain%>#refuse">拒绝</a>
    		<%}%>
    		</td>
    		<td>
    		<%if((typeof mem.role)==="number")
    		var role;
    		switch(mem.role){
    			case 0: role = "创建者";break;
    			case 1: role = "管理者";break;
    			case 2: role = "参与者";break;
    			case 3: role = "观察者";break;
    			default:role = "";
    		}
    		{%>
	    		<%if(own.role==0){%>
	    		<%if(mem.role==0){%>
	    			创建者
	    		<%}else{%>
	    		<select id="<%=mem.email%>Role">
	            	<option value="1"<%if(mem.role==1){%> selected<%}%>>管理者</option>
	            	<option value="2"<%if(mem.role==2){%> selected<%}%>>参与者</option>
	            	<option value="3"<%if(mem.role==3){%> selected<%}%>>观察者</option>
	            </select>
	            <%}}else{%>
	            <%=role%>
	            <%}%>
            <%}%>
    		</td>
    		</tr>
    		<%}%>
    		</table>
    	</div>
    	<%if(own.role===0){%>
    	<div class=" subContent">
    	    	<strong>邀请朋友加入开发，我们会将邀请通过电子邮件发送给他。</strong>
	    	<form method="post" action="<%=url%>/coopmng">
				<p>邮 箱：<input type="text" id="inviteEmail" name="inviteEmail"></p>
	    		<input type="text" style="display:none">
	    		<p>角 色：<select id="roles" name="roles">
                    <option value = "1" selected>管理者</option>
                    <option value = "2" >参与者</option>
                    <option value = "3" >观察者</option>
                    </select>
                    <span id="rights"></span>
                </p>
	    		<p>邀请语:</p>
      			<p><textarea rows="3" class="newLongInput" name="inviteWords" id="inviteWords"
      				></textarea></p>
	    		<p><input id="submitInvite" type="button" class="button_orange r3px" value="邀请">
	    		<input type="button" class="button_orange r3px" value="取消" onclick="javascript: history.back();">
	    	</form>
	    	</div>
    	<%}%>
    <script type="text/javascript" src="/scripts/coopManage.js"></script>    
    