 <div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=domain%></span><img src="/images/arrow.gif"></img>mongoDB
 </div>
 
 <%if(!dbType){%>
 <br />
 <form method="post" action="<%=url%>/createMongo">
 <p class="redText">数据库尚未创建</p>
 <p class="redText">点击创建应用的数据库:
 <input type="submit" class="button_orange r3px" id="createDb" value="创建"></p></form>
 <%}else if(dbType!=="mongo"){%>
 <p class="redText">已使用其他数据库</p>
 <%}else{%>
 <br />
 <div class="divCenter">
 <input type="text" class="longInput" id="queryString"><input type="button"  class="button_orange r3px" id="queryDb" value="查询">
 <span class="redText">tips: use mongo shell</span>
 </div>
 <pre id="queryOutput">
 </pre>
 <%}%>
 
<script type="text/javascript" src="/scripts/manageMongo.js"></script> 