  <div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=domain%></span><img src="/images/arrow.gif"></img>代码管理
    	</div>
    	<div id="upload" class="subContent">
    	    	<p><strong style="font-size:18px">上传下载</strong></p>
    	    	</p>
    	<form id="uploadForm" action="<%=url%>/upload" enctype="multipart/form-data" method="post">    
    	<p><input type="file" id="getFile" name="upload" multiple="multiple">
    	</p><p><input type="submit" class="button_orange r3px" id="submitUpload" value="上传">
    	<input type="button" class="button_orange r3px" id="download" value="下载">
    	</p>
    	
    	</form>
    	<div id="uploading">
    	正在上传中...
    	</div>
    	<p><span style="color:red">tips:提交你的代码,采用压缩包(gz/zip)方式。如果多次上传，将覆盖同名文件！</span>
    	</p>
    	<br />
    	<hr />
    	<br />
    	<div>
    	   <p><strong style="font-size:18px">Git</strong></p>
         <p><input type="button" class="button_orange r3px" id="gitClone" value="Clone">
         <input type="text" id="gitUrl" class="longInput"></p>
    	   <p id="pull-p">
    	<input type="button" class="button_orange r3px" id="gitPull" value=" Pull  ">
    	</p>
    	<p><span style="color:red">tips:通过github第三方git获取代码，无法进行push操作，可以从github上同步代码，本地修改可能会导致冲突！</span>
    </div>
    </div>
    <script type="text/javascript" src="/scripts/codeManage.js?v=1.0.1"></script>    
    
