
    	<div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=appInfo.appDomain%></span><img src="/images/arrow.gif"></img>应用设置
    	</div>
    		    	<div class=" subContent">
	    	<form method="post" action="<%=url%>/appmng">
	    		<p>子域名：<span id="submitAppDomain"> <%=appInfo.appDomain||''%></span></p>
				<p>应用名：<input type="text" id="newAppName" name="newAppName" value="<%=appInfo.appName||''%>"></p>
	    		<input type="text" style="display:none">
	    		<p>应用描述:</p>
      			<p><textarea rows="3" class="newLongInput" name="newAppDes" id="newAppDes"
      				><%=appInfo.appDes%></textarea></p>
	    		<p><input id="submitAppInfo" type="button" class="button_orange r3px" value="修改">
	    		<input type="button" class="button_orange r3px" value="取消" onclick="javascript: history.back();">
	    	</form>
	    	</div>
    <script type="text/javascript" src="/scripts/infoManage.js?v=1.0.1"></script>    
    