
    	<div class="subTitle"><img src="/images/arrow.gif"></img>
    	<span id="appDomain"><%=domain%></span><img src="/images/arrow.gif"></img>汇总信息
    	</div>
   	    <div id="appInfos" class="">
    		<table>
    		<tr><td width="80px">应用域名：</td>
    		<td id="appDomains">
    		</td></tr>
    		<tr><td>应用名称：</td><td width="250px"><%=appName||''%></td></tr>
    		<tr><td>应用描述：</td><td><%=appDes||''%></td></tr>
   			<tr><td>应用状态:</td><td id="appStateDes"></td></tr>
   			<tr><td>数据库：</td><td id="appDbName">
   			<%if(dbType==="mongo"){%><%=dbName%></td><td>端口号:21007</td>
   			<%}else{%>未启用</td><td width="300px"><a href="<%=url%>/mongo">启用mongoDB</a></td><%}%>
   			<tr>
   		</table>
   		<h3>应用状态信息</h3>
   		<table id="status">
   			<tr>
   			<th>内存消耗</th><th>堆内存</th><th>运行时间</th><th>心跳时间</th><th>PID</th>
   			</tr>
   			<tr id="statusInfo">
   			</tr>
   		</table>
   		<input type="button" class="button_orange r3px" id="controlApp">
    	<input type="button" class="button_orange r3px" id="controlAppRestart"
    	value="重启"> 
    	</div>
    <script type="text/javascript" src="/scripts/sumManage.js"></script>    
    
