   <div id="navigation">
    	<ul>
    	<li><a href="/application">我的应用</a></li>
    	<li><a href="/userCenter">个人中心</a></li>
      	<li><a href="/feedback">反馈信息</a></li>
    	<li><a href="/logout">退出</a></li>
    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
    	</ul>
    </div>
    <div id="appManage" class="clearfix">
    	<div class="left borderRadius5">
    		<ul id="sidebar">
    		<li><a href="/userCenter/userInfo">我的信息</a></li>
    		<li><a href="/userCenter/changeInfo">修改信息</a></li>
    		<li><a href="/userCenter/changePassword">修改密码</a></li>
    		</ul>
    	</div>
    	<div class="right borderRadius5">
	    	<div class="subTitle">
	    	<img src="/images/arrow.gif"></img>我的信息
	    	</div>
	    	<div class="borderRadius5 subContent">
  				<div id="changeInfoWarn">
  				 <p id="passwordWarn"></p>
   				</div>
	    	<form method="post" action="">
	    		<p>原始密码：<input type="password" id="oldPassword" name="oldPassword"></p>
				<p>修改密码：<input type="password" id="changePassword" name="changePassword"></p>
	    		<p>确认密码：<input type="password" id="changeConfirmation" name="changeConfirmation"></p>
	    		<p><input type="button" id="submitChangePassword" class="button_orange r3px" value="修改">
	    		<input type="button" class="button_orange r3px" value="取消" onclick="javascript: history.back();">
	    	</form>
	    	</div>
    	</div>
    </div>
      <script type="text/javascript" src="/scripts/changePassword.js"></script> 