    	<div class="subTitle">
	    	<img src="/images/arrow.gif"></img>我的信息
	    </div>
	    <div class="subContent">
  			<div id="changeInfoWarn">
  				 <p id="passwordWarn"></p>
   			</div>
	    	<form method="post" action="">
	    		<p>原始密码：<input type="password" id="oldPassword" name="oldPassword"></p>
				<p>修改密码：<input type="password" id="changePassword" name="changePassword"></p>
	    		<p>确认密码：<input type="password" id="changeConfirmation" name="changeConfirmation"></p>
	    		<p><input type="button" id="submitChangePassword" class="button_orange r3px" value="修改">
	    		<input type="button" class="button_orange r3px" value="取消" onclick="javascript: history.back();">
	    	</form>
	    </div>
      <script type="text/javascript" src="/scripts/changePassword.js?v=1.0.1"></script> 