<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%=domain%> - NAE IDE</title>
	<link href="/styles/editor.css?v=1.0.6" rel="stylesheet" type="text/css" />
	<script src="/scripts/head.load.min.js"></script>
	<script src="/scripts/ace/ace.js"></script>
	<script src="/scripts/jquery-1.6.2.min.js"></script>
	<script src="/scripts/jquery-ui-1.8.16.custom.min.js"></script>
	<script src="/scripts/jquery.form.js"></script>
	<script src="/scripts/global.js?v=1.0.3" type="text/javascript" charset="utf-8"></script>
	<script src="/scripts/editor.js?v=1.2.1" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div id="domain" style="display: none;"><%=domain%></div>
<div id="sidebar">
    <div id="app-info">
        <p class="item">
            应用：<span id="appname"><a href="http://<%=domain%>.cnodejs.net" target="_blank"><%=domain%></a></span>
        </p>
        <p class="item">
        	当前路径：<div id="currentPath"></div>
        </p>
    </div>
    <div id="file-explorer">
        <div id="tool-bar">
            <ul>
            	<li id="tb-home"><img src="/images/icon_home.png" title="返回根目录" /></li>
                <li id="tb-newf"><img src="/images/icon_file_add.png" title="新建文件" /></li>
                <li id="tb-newd"><img src="/images/icon_folder_add.png" title="新建文件夹" /></li>
                <li id="tb-fresh"><img src="/images/icon_refresh.png" title="刷新" /></li>
                <li id="tb-upload"><img src="/images/icon_upload.png" title="上传文件" /></li>
            </ul>
        </div>
        <div id="upload-box">
        	<form id="upload-form" action="" method="" enctype="multipart/form-data">
				<div class="fields"><input type="file" id="upload-file" name="upload"></div>
				<div class="fields"><input type="submit" id="upload-submit" value="上传"></div>
			</form>
        </div>
        <div id="file-list"></div>
    </div>
</div>
<div id="wrapper">
    <div id="content">
    	<div id="nav">
            <ul>
                <li id="nav-save" title="快捷键：Ctrl+S(PC), Command+S(Mac)">保存</li>
				<li id="restart" title="快捷键：Ctrl-Shift-1(PC), Command-Shift-1(Mac)">重启</li>
				<li id="console-display" title="快捷键：Ctrl+Shift+X(PC), Command+Shift+X(Mac)">隐藏控制台</li>
            </ul>
            <div id="logo"><img src="/images/logo-simp.png" title="CNodeJS社区项目" /></div>
        </div>
        <div id="editor-panel">
        	<div id="tabs"></div>
            <div id="editor" tabindex="1">
            	<div id="welcome">
            		<h2>Tips: NAE IDE 快捷键</h2>
            		<p>很快 NAE IDE 还将支持自定义配置文件，让您使用起来更加得心应手。</p>
					<table>
						<thead><tr>
						<td align="left">PC (Windows/Linux)</td>
						<td align="left">Mac</td>
						<td align="left">action</td>
						</tr></thead>
						<tbody>
						<tr>
						<td align="left">Ctrl-Shift-X</td>
						<td align="left">Command-Shift-X</td>
						<td align="left">显示/隐藏控制台</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-1</td>
						<td align="left">Command-Shift-1</td>
						<td align="left">重启应用</td>
						</tr>
						<tr>
						<td align="left">Ctrl-7</td>
						<td align="left">Command-7</td>
						<td align="left">注释/取消注释</td>
						</tr>
						<tr>
						<td align="left">Ctrl-F</td>
						<td align="left">Command-F</td>
						<td align="left">查找</td>
						</tr>
						<tr>
						<td align="left">Ctrl-K</td>
						<td align="left">Command-G</td>
						<td align="left">查找下一个</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-K</td>
						<td align="left">Command-Shift-G</td>
						<td align="left">查找上一个</td>
						</tr>
						<tr>
						<td align="left">Ctrl-R</td>
						<td align="left">Command-Option-F</td>
						<td align="left">替换</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-R</td>
						<td align="left">Command-Shift-Option-F</td>
						<td align="left">替换所有</td>
						</tr>
						<tr>
						<td align="left">Ctrl-A</td>
						<td align="left">Command-A</td>
						<td align="left">全选</td>
						</tr>
						<tr>
						<td align="left">Ctrl-L</td>
						<td align="left">Command-L</td>
						<td align="left">跳转到指定行</td>
						</tr>
						<tr>
						<td align="left">Ctrl-End,Ctrl-Down</td>
						<td align="left">Command-End,Command-Down</td>
						<td align="left">跳转到文档末尾</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Home,Ctrl-Up</td>
						<td align="left">Command-Home,Command-Up</td>
						<td align="left">跳转到文档开头</td>
						</tr>
						<tr>
						<td align="left">Alt-Right,End</td>
						<td align="left">Command-Right,End,Ctrl-E</td>
						<td align="left">跳转到行末尾</td>
						</tr>
						<tr>
						<td align="left">Alt-Left,Home</td>
						<td align="left">Command-Left,Home,Ctrl-A</td>
						<td align="left">跳转到行首</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Left</td>
						<td align="left">Option-Left</td>
						<td align="left">向右跳一个单词</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Right</td>
						<td align="left">Option-Right</td>
						<td align="left">向左跳一个单词</td>
						</tr>
						<tr>
						<td align="left">Alt-Down</td>
						<td align="left">Option-Down</td>
						<td align="left">下移当前行</td>
						</tr>
						<tr>
						<td align="left">Alt-Up</td>
						<td align="left">Option-Up</td>
						<td align="left">上移当前行</td>
						</tr>
						<tr>
						<td align="left">Shift-Tab</td>
						<td align="left">Shift-Tab</td>
						<td align="left">减少缩进</td>
						</tr>
						<tr>
						<td align="left">Insert</td>
						<td align="left">Insert</td>
						<td align="left">覆盖</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Z</td>
						<td align="left">Command-Z</td>
						<td align="left">撤销</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-Z,Ctrl-Y</td>
						<td align="left">Command-Shift-Z,Command-Y</td>
						<td align="left">重做</td>
						</tr>
						<tr>
						<td align="left">Ctrl-D</td>
						<td align="left">Command-D</td>
						<td align="left">删除整行</td>
						</tr>
						<tr>
						<td align="left">Shift-方向键</td>
						<td align="left">Shift-方向键</td>
						<td align="left">选择</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-End,Alt-Shift-Down</td>
						<td align="left">Command-Shift-Down</td>
						<td align="left">选择到文档末尾</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-Home,Alt-Shift-Up</td>
						<td align="left">Command-Shift-Up</td>
						<td align="left">选择到文档开头</td>
						</tr>
						<tr>
						<td align="left">Alt-Shift-Right</td>
						<td align="left">Command-Shift-Right</td>
						<td align="left">选择到行末尾</td>
						</tr>
						<tr>
						<td align="left">Alt-Shift-Left</td>
						<td align="left">Command-Shift-Left</td>
						<td align="left">选择到行首</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-Left</td>
						<td align="left">Option-Shift-Left</td>
						<td align="left">向左选择一个单词</td>
						</tr>
						<tr>
						<td align="left">Ctrl-Shift-Right</td>
						<td align="left">Option-Shift-Right</td>
						<td align="left">向右选择一个单词</td>
						</tr>
						</tbody>
					</table>
            	</div>
            </div>
            <div id="statbar"></div>
        </div>
    </div>
</div>
<div id="console" class="clearfix">
	<div id="console-nav">
		<div id="console-min">Min</div>
	</div>
    <div id="stdout-panel">
    	<div class="console-label">stdout</div>
    	<div id="stdout"></div>
    </div>
    <div id="stderr-panel">
    	<div class="console-label">stderr</div>
    	<div id="stderr"></div>
    </div>
</div>
<div id="msg"></div>
</body>
</html>
