<!DOCTYPE html>
<html>
<head>
<title>Query Tool</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="/scripts/head.load.min.js"></script>
<script src="/scripts/editor.config.js"></script>
<style>
	* { margin: 0; padding: 0; }
	body { font-family: Verdana, Geneva, sans-serif; font-size: 14px; }
	#wrapper { width: 420px; height: 380px; overflow: hidden; margin-top: 15px; }
	#hidden-form { display: none; }
	#req-form .field { margin: 10px 0; }
	#req-form #qt-url { width: 350px; }
	#req-form #qt-submit { padding: 3px 5px; }
	#req-form #qt-params { margin-top: 5px; width: 418px; height: 200px; }
	#req-form #qt-submit { float: right; }
</style>
</head>
<body>
	<div id="wrapper">
		<div id="req-form">
			<div class="field">
				<label>URL: </label>
				<input type="text" name="qt-url" id="qt-url" class="form-text" value="http://<%=domain%>.cnodejs.net" />
			</div>
			<div class="field">
				<label>method: </label>
				<select name="qt-method" id="qt-method" class="form-select">
					<option value ="GET" selected="selected">GET</option>
					<option value ="POST">POST</option>
					<!-- <option value="PUT">PUT</option>
					<option value="DELETE">DELETE</option> -->
				</select>
			</div>
			<div class="field">
				<label>params: (格式为：key1=value1&key2=value2)</label>
				<textarea name="qt-params" id="qt-params" class="form-ta"></textarea>
			</div>
			<div class="field">
				<button name="qt-submit" id="qt-submit" class="form-submit">提交</button>
			</div>
		</div>
	</div>
</body>
</html>
<script>
head.js(NAEIDE_config.SCRIPTPATH.jquery, NAEIDE_config.SCRIPTPATH.cookie, NAEIDE_config.SCRIPTPATH.querytool);
head.ready(function() {
	$(document).ready(function() {
		var options;
		var cookieStr = cookieHandler.get(NAEIDE_config.COOKIE.querytool_options);
		if(cookieStr !== null) {
			options = JSON.parse(cookieStr);
			if(options.url) $("#qt-url").val(options.url);
			if(options.method) $("#qt-method").val(options.method);
			if(options.params) $("#qt-params").val(options.params);
		}
	});
	$("#qt-submit").click(function() {
		QUERYTOOL.submitOnce();
	});
});
</script>