   <div id="navigation">
    	<ul>
    	<li><a href="/application">我的应用</a></li>
    	<li><a href="/userCenter">个人中心</a></li>
      	<li><a href="/feedback">反馈信息</a></li>
       	<%var isAdmin = false;
      	for(var i=0, len=config.admins.length; i<len; ++i){
      		if(email == config.admins[i]){
      			isAdmin = true;
      		}
      	}
      	if(isAdmin){%>
      	<li><a href="/inviteCode">发出邀请</a></li>
      	<%}%>
    	<li><a href="/logout">退出</a></li>
    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
    	</ul>
    </div>
	<div class="borderRadius5 subContent feedback">
    <form method="post">
    <p>主题：</p>
    <p><input type="text" class="longInput" name="fbTitle" id="fbTitle"></p>
    <p>反馈内容：</p>
	<p><textarea name="fbContent" class="longInput" id="fbContent" rows="8"></textarea></p>
	<p><input type="submit" class="button_orange r3px" name="fbSubmit" id="fbSubmit" value="提交反馈">
	</div>    
	    <script type="text/javascript" src="/scripts/feedback.js"></script> 