<div class="notMain" id="regist">

  <form action="/inviteCode" method="post">
    <h2 class="orangeH2 inviteH2">生成邀请码</h2>
    <div id="invite">
	<input type="text" style="display:none">
    <table>
    <tr>
    <td>邀请码：</td>
    <td width="60%"><span class="<%=config.inviteHref%>" id="inviteCode">请点击生成按钮,生成后可发送至指定邮箱</span></td>
    <td><input type="button" class = "r3px button_orange submit" id="generateInviteCode"  value="生成"></td>
    </tr>
    <tr id="sendInviteByEmail">
    <td><label for="email">邮箱：</label></td>
    <td><input type="text" id="email"></td>
    <td><input type="button" class="r3px button_orange" id="sendInviteCode" value="发送"></td>
    </tr>
    <tr>
    <td></td><td></td>
    <td><input type="button" class="r3px button_orange" id="generateCancel" onclick="javascript: history.back();" value="取消"></td>
  	</tr>
  	</table>
  	<div id="codes">
    <table padding="40px">
    <tr>
    <th width="70%">邀请码</th><th>操作</th>
    </tr>
    <% for(var i=0, len=codes.length; i<len; ++i){
    	var code = codes[i];
    %>
    <tr>
    <td><%=config.inviteHref%><%=code.code%></td>
    <td><a id="send&<%=config.inviteHref%><%=code.code%>" href="javascript:void(0)" onclick="sendThisInvite(this);">发送</a> |
    <a id="delete&<%=code.code%>" href="javascript:void(0)" onclick="deleteInvite(this);">删除</a></td>
    </tr>
    <%}%>
    </table>
    <div id="invitePagination"class="pagination">
		  <ul>
		    <li class="prev"><a href="#">&larr; 前一页</a></li>
		    <% var tooMany = false;
		    for(var i=1; i<=pages; ++i){
		    	if(i<=1||i>pages-1||Math.abs(page-i)<=1){%>
		    <li ><a href="/inviteCode?page=<%=i%>"><%=i%></a></li>
		    	<%}else if(tooMany===false){
		    	tooMany = true;%>
		    <li class="disabled"><a href="javascript:void(0)">…</a></li>
		    <%}}%>
		    <li class="next"><a href="#">后一页 &rarr;</a></li>
  		  </ul>
		</div>
	</div>
    </div>
  </form>
  
</div>
<script type="text/javascript" src="/scripts/inviteCode.js?v=1.0.1"></script>    
