<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.site_name %></title>
<link href="/styles/reset.css" rel="stylesheet" type="text/css" />
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/scripts/global.js"></script>	
</head>

<body>
<div class="page">
    <div class="header box">
    <img src="/images/logo.png" alt="CnodeJS"></img>
    </div>

    <div class="main box">
 <div id="navigation" class="clearfix">
 		<div id="leftNav">
    	<ul>
    	<li><a href="/application">我的应用</a></li>
    	<li><a href="/userCenter">个人中心</a></li>
      	<li><a href="http://blog.cnodejs.net/post/4e686bb00716ac9910000003" target="_blank">反馈信息</a></li>
      	<li><a href="http://blog.cnodejs.net/post/4e686c290716ac9910000009" target="_blank">文档中心</a></li>
      	<%var isAdmin = false;
      	for(var i=0, len=config.admins.length; i<len; ++i){
      		if(email == config.admins[i]){
      			isAdmin = true;
      		}
      	}
      	if(isAdmin){%>
      	<li><a href="/inviteCode">发出邀请</a></li>
      	<%}%>
      	</ul>
     	</div>
     	<div id="rightNav">
	     	<ul>
	       	<li><a href="/logout">退出</a></li>
	    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
	    	</ul>
    	</div>
    </div>
    <div id="appManage" class="clearfix">
    	<div class="left borderRadius5">
    		<ul id="sidebar">	
    		<li><a href="/userCenter/userInfo">我的信息</a></li>
    		<li><a href="/userCenter/changeInfo">修改信息</a></li>
    		<li><a href="/userCenter/changePassword">修改密码</a></li>
    		</ul>
	    </div>
	    <div class="right borderRadius5">
	    	<%-body %> 
	    </div>
    </div>
    </div>
    <div class="foot">
        Copyright&copy; <%= config.site_name %>
        <a href="http://cnodejs.org/">CNode</a>
    </div>

</div>
</body>
</html>
