   <div id="navigation">
    	<ul>
    	<li><a href="/application">我的应用</a></li>
    	<li><a href="/userCenter">个人中心</a></li>
      	<li><a href="/feedback">反馈信息</a></li>
    	<li><a href="/logout">退出</a></li>
    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
    	</ul>
    </div>
    <h2 id="appH2">应用列表</h2>
    <div class="clearfix">
    <div id="myApp">
    <p class="appDivTitle">我创建的应用</p>
    <div class="applications">
      <ul>
        <% for(var i = 0, len = ownApps.length; i < len; i++) {
        var app = ownApps[i];
        %>
        <div class="application  ownApp" id="<%= app.appDomain %>">
          <li class="appLi" >
        <img src="/images/arrow.gif"></img>
        &nbsp;
        <a href="/application/manage/<%= app.appDomain%>/sum" title="管理" class="title"><%= app.appName %></a>
        <span class="appActions" id="appAction<%=app.appDomain%>">
        <a class="deleteApp" href="javascript:void(0)" 
        onclick="delApp('<%=app.appDomain%>')">删除</a>
        </span>
        </li>
      </div>
      <% } %>     
      <div id="createApp">
      <li>
      <% if(ownApps.length < 10){ %>
      <a href="/application/newApp">创建新应用(<%=ownApps.length%>/10)</a>
      <%}else{%>
        应用数量已达上限
      <%}%>
      </li>
      </div>
    </ul>
    </div>
  </div>
  <div id="otherApp">
      <p class="appDivTitle">我参与的应用</p>
    <div class="applications">
      <ul>
        <% for(var i = 0, len = otherApps.length; i < len; i++) {
        var app = otherApps[i];
        %>
        <div class="application" id="coop<%= app.appDomain %>">
          <li class="appLi">
        <% if(app.active===0) {%>
        	<img src = "/images/inactive.gif"></img>&nbsp;
		<%} else {%>
        	<img src="/images/arrow.gif"></img>&nbsp;
        <%}%>
        <a href="/application/manage/<%= app.appDomain%>/sum" title="管理" class="title"><%= app.appName %></a>
        <% if(app.active===0) {%>
        <a class="appActive" id="active<%=app.appDomain%>"
         href="javascript:void(0)" onclick="active('<%=app.appDomain%>')">参加</a>
        <%}%>
        <span class="appActions" id="appAction<%=app.appDomain%>">
        <a class="deleteApp" href="javascript:void(0)" 
        onclick="delCoopApp('<%=app.appDomain%>')">退出</a>
        </span>
        </li>
      </div>
      <% } %>     
    </ul>
  </div>
  </div>
</div>
  <script type="text/javascript" src="scripts/main.js"></script>
