<div class="notMain" id="regist">

  <form action="/checkRegist" method="post">
    <h2 class="orangeH2 registH2">用户注册</h2>
    <div id="newAccount">
   <div id="registWarn">
   <p id="emailWarn"></p>
   <p id="nameWarn"></p>
   <p id="passwordWarn"></p>
   </div>
    <p><label for="newEmail">邮&nbsp;&nbsp;&nbsp;箱</label>
    <input type="text" id="newEmail" name="newEmail" value="<%=email%>"></p>
    <p><label for="newUserName">昵&nbsp;&nbsp;&nbsp;称 </label>
    <input type="text" id = "newUserName" name="newUserName"></p>
    <p><label for="newPassword">密&nbsp;&nbsp;&nbsp;码 </label>
    <input type="password" id="newPassword" name="newPassword"></p>
    <p><label for="passwordCon">确&nbsp;&nbsp;&nbsp;认 </label>
    <input type="password" id="passwordCon" name="passwordCon"></p>
	<p><label for="inviteCode">邀请码</label>
	<input type="text" name="inviteCode" id="inviteCode" value="<%=code%>"><span class="redText">*</span></p> 
    <p><input type="submit" class = "r3px button_orange submit"value="提交">
    <input type="button" class="r3px button_orange" id="registCancer" onclick="javascript: history.back();" value="取消"></p>
  	
  </form>
</div>
</div>
<script type="text/javascript" src="scripts/regist.js"></script>
