    <div class="notMain">
    <h2 class="orangeH2 loginH2">找回密码</h2>
    <div class="log">
    <p class="retrieveTitle">填写登录邮箱>>查收邮件>><strong>重置密码</strong></p>
    <hr />
     <div id="changeInfoWarn">
  		  <p id="passwordWarn"></p>
   	 </div>
	   <form method="post" id="retrievePassword" action="resetPassword">
	      <input type="hidden" name="email" value=<%=email%>>
				<p>修改密码：<input type="password" id="changePassword" name="changePassword"></p>
	    	<p>确认密码：<input type="password" id="changeConfirmation" name="changeConfirmation"></p>
	    	<p><input type="submit" id="commitReset" class="rightButton button_orange r3px" value="修改">
	   </form>
    </div>
    </div>
    <script type="text/javascript" src="scripts/retrieve.js"></script>
