     	<div class="subTitle">
    	<img src="/images/arrow.gif"></img>我的信息
    	</div>
    	<div id="myInfos" class=" subContent">
    		<table>
    		<tr><td>昵称：<td/><td><%=user.nickName||''%></td></tr>
    		<tr><td>邮箱：<td/><td><%=user.email||''%></td></tr>
    		<tr><td>姓名：<td/><td><%=user.realName||''%></td></tr>
    		<tr><td>手机：<td/><td><%=user.telNumber||''%></td></tr>
    		<tr><td>主页：<td/><td><%=user.mainPage||''%></td></tr>
    		<tr><td>DB帐号：<td/><td><%=user.dbUserName||''%></td></tr>
   		   	<tr><td>DB密码：<td/><td><%=user.dbPassword||''%></td></tr>
    		</table>
    	</div>