.npm{
float:left;
background-color: whiteSmoke;
display: block;
padding: 16px;
margin: 0 0 18px;
line-height: 18px;
font-size: 14px;
border: 1px solid #CCC;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
border-image: initial;
font-family: Monaco, Andale Mono, Courier New, monospace;
height:auto;
width:450px;
overflow:auto;
color:#777;
}
#hint{
	margin-left:520px;
	font-size:16px;
	width:240px;
	position:fixed;
	height:300px;
}
.npm .pair {
cursor:pointer;
}

.npm .pair:hover {
background-color:#CCC;
}
.pair {
padding:0px;
margin:0px;
}
.exsits{
	color:#000;
}