<div class="subTitle">
  <img src="/images/arrow.gif"></img>
  <span id="app-name"></span>
  <img src="/images/arrow.gif"></img>
  代码管理
</div>
<div id="upload" class="subContent">
  <p>
    <strong style="font-size:18px">上传下载</strong>
  </p>
  </p>
  <form id="uploadForm" action="<%=url%>/upload" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_csrf" value="<%=_csrf%>">
    <p>
      <input type="file" id="getFile" name="upload" multiple="multiple">
    </p>
  	<p>
    	<span style="color:red">tips:采用压缩包(gz/zip)方式。如果多次上传，将覆盖同名文件！</span>
  	</p>    
    <p>
      <input type="submit" class="button_orange r3px" id="submitUpload" value="上传">
    </p>
  </form>
  <div id="uploading">
    正在上传中...
  </div>
    <p>
    	<input type="text" id="downloadReg">
    	<input type="button" class="button_orange r3px" id="download" value="下载">
    </p>
  <br />
  <hr />
  <br />
  <%if(!config.switchs.nonGit){%>
  <div>
    <p>
      <strong style="font-size:18px">Git</strong><span style="color:red;">&nbsp; tips:个人中心设置github帐号够可以进行push在内的github操作</span>
    </p>
    <p id="gitAction-p">
    	<input type="text" id="gitCommand">
      <input type="button" class="button_orange r3px" id="gitAction" value="执行">
    </p>
    <p>
  </div>
  <br />
  <hr />
  <br />
  <p>
    <strong style="font-size:18px">npm</strong>
  </p>
  <p id="npm-p">
  	<input type="text" id="npmName">
    <input type="button" class="button_orange r3px" id="npmInstall" value="install">
  </p>
  <%}%>
</div>
<script type="text/javascript" src="/scripts/validator.js?v=1.0.2"></script>
<script type="text/javascript" src="/scripts/appManageCode.js?v=1.0.4"></script>
