<div class="subTitle">
  <img src="/images/arrow.gif"></img>
  <span id="app-name"></span>
  <img src="/images/arrow.gif"></img>
  汇总信息
</div>
<div id="labs" style="display:none"><%=config.switchs.labs%></div>
<div id="appInfos" class=""></div>
<input type="button" class="button_orange r3px" id="controlApp">
<input type="button" class="button_orange r3px" id="pubApp" title="从开发模式发布到线上模式"
value="发布">
<a href="http://club.cnodejs.org/topic/4f4124222019969558001688" target="_blank" style="color:#f00; position:relative; left:55%;">发布前务必先阅读</a>
<script type="text/javascript" src="/scripts/appManageSum.js?v=<%= config.staticVersion %>"></script>
