<div id="appSquare">
  <div class="square-title">
    <h2>最新应用</h2>
  </div>
  <div class="square-apps" id="all-apps">
  </div>
  <a id="back-top" class="likeWhite" href="javascript:void(0)" onclick="window.scrollTo(0,0);return false;" title="返回顶部">返回顶部</a>
  <p>
    <a href="javascript:void(0)" id="getMore" class="blockA likeWhite">更多</a>
  </p>
</div>
<script type="text/javascript" src="/scripts/content_zoom.js?v=1.0.1"></script> 
<script type="text/javascript" src="/scripts/appSquare.js?v=1.0.5"></script> 