<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.site_name %></title>
<link href="/styles/reset.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%if(!config.labs){%>
<link href="/styles/style.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%}else{%>
<link href="/styles/labsStyle.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%}%>
<script type="text/javascript" src="/scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/scripts/global.js?v=<%= config.staticVersion %>"></script>
    <script>
      var _csrf = "<%=_csrf%>";
    </script>
<script type="text/javascript">
(function() {
	var c = document.createElement('script'); c.type = 'text/javascript'; c.async = true;
	c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/44893';
	var h = document.getElementsByTagName('head')[0]; h.appendChild(c);
})();
</script>
</head>
<body>
<script type="text/javascript" src="http://js.tongji.linezing.com/2717849/tongji.js"></script>
<noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2717849/tongji.gif"/></a></noscript>

<div class="page">
      <% if(!config.labs){ %>
    <div class="header box">
    <a href="http://cnodejs.net"><img src="/images/logo.png" alt="NAE"></img></a>
    </div>
    <%}%>

    <div class="main box">
 	<div id="navigation" class="clearfix">
 		<div id="leftNav">
    			<ul>
    			<li><a href="/application">我的应用</a></li>
    			<li><a href="/userCenter">个人中心</a></li>
      <% if(!config.labs){ %>
    	   		<li><a href="/square">应用广场</a></li>
      	<%}%>
        		<li><a href="http://blog.cnodejs.net/post/4e686c290716ac9910000009" target="_blank">文档中心</a></li>
            <li><a href="http://club.cnodejs.org/topic/4f387648301a48d50e003d4c" target="_blank" style="color:#f60;">命令行工具</a></li>
      <% if(!config.labs){ %>
      			<li><a href="/inviteCode">发出邀请</a></li>
           <%var isAdmin = false;
             var admins = config.admins;
             for(var i=0, len=admins.length; i!=len; ++i){
                 if(email === admins[i]){
                     isAdmin = true; break;
                 }
             }
             if(isAdmin){
           %>
                <li><a href="/monitor">系统监控</a></li>
      <%}}%>
      			</ul>
     		</div>
        <% if(!config.labs){ %>      
	     	<div id="rightNav">
		     	<ul>
		       	<li><a href="/logout">退出</a></li>
		    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
		    	</ul>
    		</div>
        <%}%>
    	</div>
    	<%-body %>
    </div>
      <% if(!config.labs){ %>
    <div class="foot">
        Copyright&copy; <%= config.site_name %>
        <a href="http://cnodejs.org/">CNode</a>
    </div>
    <%}%>
</div>

</div>
</body>
</html>
