<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.site_name %></title>
<link href="/styles/reset.css?v=1.0.1" rel="stylesheet" type="text/css" />
<%if(!config.labs){%>
<link href="/styles/style.css?v=1.0.6" rel="stylesheet" type="text/css" />
<%}else{%>
<link href="/styles/labsStyle.css?v=1.0.5" rel="stylesheet" type="text/css" />
<%}%>
<script type="text/javascript" src="/scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/scripts/global.js?v=1.0.3"></script>
</head>

<body>
<div class="page">
      <% if(!config.labs){ %>
    <div class="header box">
    <a href="http://cnodejs.net"><img src="/images/logo.png" alt="NAE"></img></a>
    </div>
    <%}%>

    <div class="main box">
 	<div id="navigation" class="clearfix">
 		<div id="leftNav">
    			<ul>
    			<li><a href="/application">我的应用</a></li>
    			<li><a href="/userCenter">个人中心</a></li>
      <% if(!config.labs){ %>
    	   		<li><a href="/square">应用广场</a></li>
      			<li><a href="http://blog.cnodejs.net/post/4e686bb00716ac9910000003" target="_blank">反馈信息</a></li>
      	<%}%>
        		<li><a href="http://blog.cnodejs.net/post/4e686c290716ac9910000009" target="_blank">文档中心</a></li>
      <% if(!config.labs){ %>
      			<li><a href="/inviteCode">发出邀请</a></li>
           <%var isAdmin = false;
             admins = config.admins;
             for(var i=0, len=admins.length; i!=len; ++i){
                 if(email === admins[i]){
                     isAdmin = true; break;
                 }
             }
             if(isAdmin){
           %>
                <li><a href="/monitor">系统监控</a></li>
      <%}}%>
      			</ul>
     		</div>
        <% if(!config.labs){ %>      
	     	<div id="rightNav">
		     	<ul>
		       	<li><a href="/logout">退出</a></li>
		    	<li class="nickName"><%=nickName%>,欢迎登录！<li>
		    	</ul>
    		</div>
        <%}%>
    	</div>
    	<%-body %>
    </div>
      <% if(!config.labs){ %>
    <div class="foot">
        Copyright&copy; <%= config.site_name %>
        <a href="http://cnodejs.org/">CNode</a>
    </div>
    <%}%>
</div>

</div>
</body>
</html>
