<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= config.site_name %></title>
<link href="/styles/reset.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%if(!config.labs){%>
<link href="/styles/style.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%}else{%>
<link href="/styles/labsStyle.css?v=<%= config.staticVersion %>" rel="stylesheet" type="text/css" />
<%}%>	
<script type="text/javascript" src="/scripts/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/scripts/global.js?v=<%= config.staticVersion %>"></script>	
<script>
  var _csrf = "<%=_csrf%>";
</script>
<script type="text/javascript">
(function() {
	var c = document.createElement('script'); c.type = 'text/javascript'; c.async = true;
	c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/44893';
	var h = document.getElementsByTagName('head')[0]; h.appendChild(c);
})();
</script>
</head>
<body>
<div class="page">
    <% if(!config.labs){ %>
    <div class="header box">
    <a href="http://cnodejs.net"><img src="/images/logo.png" alt="NAE"></img></a>
	</div>
    <%}%>
    <div class="main box">
    <%-body%>
    </div>
     <% if(!config.labs){ %>   
    <div class="foot">
        Copyright&copy; <%= config.site_name %>
        <a href="http://cnodejs.org/">CNode</a>
    </div>
    <%}%>

</div>
</body>
</html>
