<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cnode APP Engine</title>
<link type="text/css" rel="stylesheet" href="/static/css/demo_page.css" />
<link type="text/css" rel="stylesheet" href="/static/css/demo_table.css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
</head>
<body>
<div class="std_msg">
STDOUT:
<pre id="stdout"></pre>
STDERR:
<pre id="stderr"></pre>
</div>
<div style="float:right;height:40px">
app name: <input type="input" id="app_name" />
<input type="button" id="start_app" value="start" />
</div>
<div id="contents" style="clear:both;"></div>
<script type="text/javascript">
function dateFormat(ts) {
	var date = new Date();
	date.setTime(ts);
	return [date.getMonth()+1, '/', date.getDate(),' ',
		date.getHours() <= 9 ? '0' + date.getHours() : date.getHours(), ':',
		date.getMinutes() <= 9 ? '0' + date.getMinutes() : date.getMinutes(), ':',
		date.getSeconds() <= 9 ? '0' + date.getSeconds() : date.getSeconds()
		].join('');
}
$('#start_app').click(function(){
	var app = $('#app_name').val();
	if(app == ''){
		alert('must input app name');
		return;
	}
	var url = '/app/' + app + '/run';
	$.ajax({
		type: 'post',
		url: url,
		success: function(data){
			alert(data.status)
			window.location.reload();
		}
	});
});
function showGrid(){
	$.ajax({
		type: 'get',
		url: '/apps_detail',
		success: function(data){
			var table = [];
			for(var app in data){
				var row = data[app];
				table[table.length] = [
					app,
					row.rss,
					row.heap,
					row.uptime,
					dateFormat(row.last),
					row.pid,
					row.autorun,
					row.running,
					row.ports.join(', '),
					row.running
				];
			}
			$('#contents').html('<table cellpadding="0" cellspacing="0" border="0" class="display" id="apps"></table>');
			$('#apps').dataTable({
				"aaData": table,
				"aoColumns": [
					{"sTitle": "app"},
					{"sTitle": "rss"},
					{"sTitle": "heap"},
					{"sTitle": "uptime"},
					{"sTitle": "last"},
					{"sTitle": "pid"},
					{"sTitle": "autorun"},
					{"sTitle": "running"},
					{"sTitle": "ports"},
					{
						"sTitle": "operaton",
						"fnRender": function(obj) {
							var value = obj.aData[obj.iDataColumn];
							var title = value ? 'stop app' : 'start app';
							var opt = value ? 0 : 1;
							var res = '<input type="button" value="' + title
										+ '" app="' + obj.aData[0]
										+ '" opt="' + opt
										+ '" class="opt" />'
										+ ' <input type="button" value="std info" class="std"'
										+ ' app="' + obj.aData[0]
										+ '" />';
							return res;
						}
					}
				]
			});
		}
	});
}
showGrid();
//window.setInterval(showGrid, 10000);

function showStd(app){
	$.ajax({
		type:'get',
		url : '/app_log/out/' + app + '/last/1000',
		success : function(data) {
			$('.std_msg').show();
			$('#stdout').html(data);
		}
	})
	$.ajax({
		type:'get',
		url : '/app_log/err/' + app + '/last/1000',
		success : function(data) {
			$('.std_msg').show();
			$('#stderr').html(data);
		}
	})
}

var std_tm, std_stop = true;
$('body').click(function(e){
	std_stop = true;
	if (std_tm) {
		window.clearInterval(std_tm);
		$('.std_msg').hide();
	}
});
$('.std_msg').click(function(e){
	e.stopPropagation();
});
$('input.std').live('click', function(e){
	std_stop = false;
	var app = $(e.target).attr('app');
	showStd(app);
	std_tm = window.setInterval(function(){
		showStd(app)
	}, 3000);
})
$('input.opt').live('click', function(event){
	var app = $(event.target).attr('app');
	var opt = $(event.target).attr('opt');
	var url = '/app/' + app;
	url += (opt == 1) ? '/run' : '/stop';
	$.ajax({
		type: 'post',
		url: url,
		success: function(data){
			alert(data.status)
			window.location.reload();
		}
	});
});
</script>
</body>
</html>
