   <div class="notMain">
  <h2 class="orangeH2 loginH2">创建应用</h2>
  <div id="newApp">
   <div id="newAppWarn">
   <p id="domainWarn"></p>
   <p id="appNameWarn"></p> 
   </div>
    <form method="post" action="/createApp">
      <p>子域名<span id="domainWarn" class="redText">*(4～20位,小写字母/数字/下划线,首位字母)</span></p>
      <p> <input type="text" id="appDomain"
      name="appDomain"><span id="domain">.cnodejs.net</span></p>
      <p>应用名称<span class="redText">*</span></p>
      <p><input type="text" class="newLongInput" id="appName" name="appName"></p>
      <p>应用描述</p>
      <p><textarea rows="3" class="newLongInput" id="appDes" name="appDes"></textarea></p>
      <p><input class = "r3px button_orange" id="newAppSubmit" type="submit" value="创建">
      	 <input class="r3px button_orange" type="button" id="newAppCancer" onclick="javascript: history.back();" value="取消"></p>
    </form>
  </div>
  </div>
  <script type="text/javascript" src="/scripts/newApp.js?v=1.0.1"></script>
