   <div class="notMain">
  <h2 class="orangeH2 loginH2">创建应用</h2>
  <div id="newApp">
    <form method="post" action="/createApp">
      <div style="display:none;" id="topDomain"><%=config.toplevelDomain%></div>
      <input type="hidden" name="_csrf" value="<%=_csrf%>">
      <p>子域名<span id="domainTip">(4～20位,小写字母/数字/下划线,首位字母)</span></p>
      <p> <input type="text" id="appDomain"
      name="appDomain"><span id="domainWarn"><%=warn.domainWarn||config.toplevelDomain%></span>
      <p>应用名称</p>
      <p><input type="text" class="newLongInput" id="appName" name="appName"><span id="appNameWarn" class="warnColor"><%=warn.nameWarn||''%></span></p>
      <p>github主页</p>
      <p><input type="text" class="newLongInput" id="github" name="github"><span id="githubWarn" class="warnColor"><%=warn.githubWarn||''%></span></p>
      <p>应用图片地址</p>
      <p><input type="text" class="newLongInput" id="appImage" name="appImage"><span id="imgWarn" class="warnColor"><%=warn.imgWarn||''%></span></p>
      <p>应用描述</p>
      <p><textarea rows="3" class="newLongInput" id="appDes" name="appDes"></textarea></p>
      <p><input class = "r3px button_orange" id="newAppSubmit" type="submit" value="创建">
    </form>
  </div>
  </div>
  <script type="text/javascript" src="/scripts/validator.js?v=1.0.1"></script>
  <script type="text/javascript" src="/scripts/newApp.js?v=1.0.1"></script>
