   <script type="text/javascript" src="scripts/retrieve.js?v=1.0.1"></script>
<div id="header-banner">
    <div class="header-banner-box">
        <p class="banner-title">免费注册</p>
        <p class="banner-descr">Node App Engine 提供易于构建，易于维护，易于扩展的开发和部署环境，使开发者可以专注于实现自己的创意。</p>
    </div>
</div>
<div id="body">
    <div class="page-title-sub"></div>
        <div id="form-submit">
            <div style="float:left;width:700px;">
                <fieldset>
                    <div style="text-align:center;">
                        <p class="tips">请进入您的邮箱查收邮件，激活您的帐号。</p>
                        <div style="margin:10px;height:10px;"></div>
                        <p class="tips"><a href="http://<%=host%>" class="mail blockA likeBlue" target="_blank">立即查看邮箱</a></p>
                    </div>
                </fieldset>
            </div>
        </div>
    <div id="succ-tips" class="succ-tips" style="margin-left:5px;display:none;"></div>
    <div style="margin:30px;height:20px;"></div>
    <div class="clr"></div>
</div>
