<div id="header-banner">
    <div class="header-banner-box">
        <p class="banner-title">重置密码</p>
        <p class="banner-descr">通过注册邮箱，轻松重置NAE密码。</p>
    </div>
</div>
<div id="body">
    <div class="page-title-sub"></div>
    <form action="/reset/password" method="post">
        <div id="form-submit">
            <div style="float:left;width:700px;">
                <fieldset>
                    <legend style="color:#555;">重置密码</legend>
                    <input type="hidden" value="<%=_csrf%>" name="_csrf">
                    <input type="hidden" name="email" value=<%=email%>>
                    <input type="hidden" name="key" value=<%=key%>>
                    <div class="field-group">
                        <label class="required title" for="userEmail"><span style="color:red;">*</span> 修改密码：</label>
                        <input type="password" name="changePassword" id="changePassword" tabindex="1" class="input1"  style="width:250px">
                        <br />
                    </div>
                    <div class="spacer"></div>
                    <div class="field-group">
                        <label class="required title" for="userEmail"><span style="color:red;">*</span> 确认密码：</label>
                        <input type="password" name="changeConfirmation" id="changeConfirmation" tabindex="1" class="input1"  style="width:250px">
                        <br />
                    </div>
                </fieldset>
                <div style="text-align:right;" id="div-submit">
                    <span id="btn-submit"><input type="submit" id="commitReset" class="btn1" value="确认"></span>
                    <span id="loading-submit"><img src="/images/ajax_loader.gif"></span>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </form>
    <div id="succ-tips" class="succ-tips" style="margin-left:5px;display:none;"></div>
    <div style="margin:30px;height:20px;"></div>
    <div class="clr"></div>
</div>
<script src="scripts/regist.js?v=1.0.4" type="text/javascript"></script>