   <script type="text/javascript" src="scripts/retrieve.js?v=1.0.1"></script>
<div id="header-banner">
    <div class="header-banner-box">
        <p class="banner-title">重置密码</p>
        <p class="banner-descr">通过注册邮箱，轻松重置NAE密码。</p>
    </div>
</div>
<div id="body">
    <div class="page-title-sub"></div>
        <div id="form-submit">
            <div style="float:left;width:700px;">
                <fieldset>
                    <div style="text-align:center;">
                        <p class="tips">请进入您的邮箱查收邮件，在24小时内通过邮件内链接修改密码。</p>
                        <div style="margin:10px;height:10px;"></div>
                        <p class="tips"><a href="http://<%=host%>" class="mail blockA likeBlue" target="_blank">立即查看邮箱</a></p>
                    </div>
                </fieldset>
            </div>
        </div>
    <div id="succ-tips" class="succ-tips" style="margin-left:5px;display:none;"></div>
    <div style="margin:30px;height:20px;"></div>
    <div class="clr"></div>
</div>
