
    <script type="text/javascript" src="scripts/retrieve.js?v=1.0.1"></script>
<div id="header-banner">
    <div class="header-banner-box">
        <p class="banner-title">重置密码</p>
        <p class="banner-descr">通过注册邮箱，轻松重置NAE密码。</p>
    </div>
</div>
<div id="body">
    <div class="page-title-sub"></div>
    <form action="retrieve" method="post">
        <div id="form-submit">
            <div style="float:left;width:700px;">
                <fieldset>
                    <legend style="color:#555;">填写注册邮箱</legend>
                        <input type="hidden" value="<%=_csrf%>" name="_csrf">
                    <div class="field-group">
                        <label class="required title" for="userEmail"><span style="color:red;">*</span> 注册邮箱:</label>
                        <input type="text" name="userEmail" id="userEmail" tabindex="1" class="input1"  style="width:250px">
                        <br />
                        <span class="tips">填写注册时的email信息。</span>
                    </div>
                    <div class="spacer"></div>
                </fieldset>
                <div style="text-align:right;" id="div-submit">
                    <span id="btn-submit"><input type="submit" id="commitRetrieve" class="btn1" value="提交"></span>
                    <span id="loading-submit"><img src="/images/ajax_loader.gif"></span>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </form>
    <div id="succ-tips" class="succ-tips" style="margin-left:5px;display:none;"></div>
    <div style="margin:30px;height:20px;"></div>
    <div class="clr"></div>
</div>
<script src="scripts/regist.js?v=1.0.4" type="text/javascript"></script>