
    <div class="notMain">
    <h2 class="orangeH2 loginH2">找回密码</h2>
    <div class="log">
    <p class="retrieveTitle"><strong>填写登录邮箱</strong>>>查收邮件>>重置密码</p>
    <hr />
    <form class="retrieveContent" action="/retrieve" method="post">
        <p class="loginInput">
        <label for="userEmail">邮箱：</label>
        <input type="text" id="userEmail" class="inputText" name="userEmail">
        <input type="submit" id="commitRetrieve" class="r3px button_orange submit" value="提交">
        </p>
    </form>
    </div>
    </div>

    <script type="text/javascript" src="scripts/retrieve.js?v=1.0.1"></script>
